<h2 class="page-header">Applications</h2>
<p>Your Applications</p>
<p id="data"></p>

<h3>Three equal columns</h3>
      <p>Get three equal-width columns <strong>starting at desktops and scaling to large desktops</strong>. On mobile devices, tablets and below, the columns will automatically stack.</p>
      <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
      </div>

<div class="entry">
  {{#if apps}}
    
    {{#each apps}}
    {{@key}}: AppName= {{this.appName}} , CompanyDomain={{this.companyDomain}} , AppVersion={{this.appVersion}}</br> </br>

{{/each}}
  {{/if}}
</div>