<h2 class="page-header">Dashboard</h2>
<p>Register your app here</p>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/addApp">
  <div class="form-group">
    <label>Application Name</label>
    <input type="text" class="form-control" name="appName" placeholder="Application Name" required>
  </div>
  <div class="form-group">
    <label>Company Domain</label>
    <input type="text" class="form-control" name="companyDomain" placeholder="Company Domain" required>
  </div>
<div class="form-group">
    <label>Application Version</label>
    <input type="text" class="form-control" name="appVersion" placeholder="Application Version" required>
  </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>